[Desktop Entry]
Name=Neovide Nightly (on dev)
Icon=neovide
Type=Application
Terminal=false
Categories=Development;Utility;TextEditor;
StartupNotify=true
StartupWMClass=Neovide
Exec=/home/josh/.local/bin/distrobox-enter  -n dev  --   neovide --neovim-bin /home/josh/devbox/.local/bin/nvim-nightly %F
Keywords=Text;Editor;
Comment=No Nonsense Neovim Client in Rust
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;

